@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #efc69b;
  --secondary-color: #af1b3f;
  --accent-color: #473144;
  --text-dark: #333;
  --text-light: #ebebeb;
  --body-font: Arial, Helvetica, sans-serif;
  --headline-font: Lora, Impact, serif;
}

body {
  font-family: var(--body-font);
  font-size: 1.2em;
  text-align: center;
  color: var(--accent-color);
}

h1 {
  font-family: var(--headline-font);
  font-size: 2em;
  margin: 1em;
}

a,
h2 {
  color: var(--secondary-color);
  text-decoration: none;
}

h2 {
  font-family: var(--headline-font);
}

p {
  font-size: 0.9em;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, 85px);
  list-style-type: none;
  justify-content: end;
  margin-right: 40px;
}

hr {
  height: 2px;
  background-color: var(--primary-color);
  border: none;
  width: 100%;
  margin-top: 0;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  width: 95%;
}

#filter-div {
  border: solid;
  border-color: var(--primary-color);
  border-width: 2px;
  grid-column: 2/3;
  grid-row: 1/3;
  justify-items: left;
}

.bookList-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 0.9em;
  margin-bottom: 2em;
}

.right-grid {
  grid-column: 2/3;
}

.left-grid {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 0.35em;
  padding-right: 0.9em;
  border-right: solid;
  border-color: var(--primary-color);
  border-width: 2px;
  text-align: right;
}

.desc,
.b-title {
  text-align: left;
  justify-self: left;
}

.b-title {
  margin-bottom: 0.3em;
}

.bookList-grid img {
  justify-self: center;
}

.skipToContent a {
  position: absolute;
  top: -40px;
  left: 0;
  background: yellow;
  color: black;
  padding: 8px 16px;
  z-index: 10;
  text-decoration: none;
  font-weight: bold;
}
.skipToContent a:focus {
  top: 0;
}

footer {
    margin-top: 2em;
    background-color: var(--secondary-color);
    color: var(--text-light);
    padding: 0.7em;
}
